fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain-classic
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-huggingface
langchain-groq
pinecone-client
sentence-transformers
huggingface-hub
groq
pypdf
Pillow
pytesseract
python-multipart
requests
numpy
tiktoken