fastapi
uvicorn
python-multipart
python-dotenv
langchain
langchain-classic
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-groq
langchain-huggingface
pinecone
sentence-transformers
huggingface-hub
groq
pypdf
Pillow
requests
numpy
tiktoken
numpy
langsmith